DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT= 
JWT_SECRET=""

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_SANDBOX=true
APP_URL=http://localhost:3000
API_DOMAIN=http://upskill-management.test